*{
    margin:0;
    padding:0;

}
.parent{
    background-color: black;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.child{
    width:20%;
    height:200px;
    background-color:grey;
    display: inline-block;
    margin-left:50px;
}